body {
    font-family: Arial;
}

#title{
    color:#379683;
    text-align: center;
    margin-top: 1%;
    font-size: 200%;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #000000;
    color: #d1f4fa;
}

.right {
    right: 0;
    background-color: #000000;
    color: #005792;
}