body {
    font-family: "Lucida Sans";
}

#title{
    color:#99ddff;
    text-align: center;
    margin-bottom: 0.5%;
    padding-top: 0.5%;
    background-color: #000000;
    font-size: 250%;
    padding-bottom: 0.5%;
}

.split {
    height: 100%;
    width: 49.9%;
    position: fixed;
    z-index: 1;
    top: 10%;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #000000;
    color: #d1f4fa;
}

.right {
    right: 0;
    background-color: #000000;
    color: #005792;
}